<footer class="container-fluid footerContainer">
    <div class="row">
      <div class="footerAbout col-sm-12 col-md-4 col-lg-4 col-xl-4 px-5 d-flex flex-column align-items-start">
        <h1>Ecomm.</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint earum alias aut modi omnis illo ea dicta. Dolorem vel expedita eum harum suscipit, repellendus labore reprehenderit officiis deserunt id laboriosam.\</p>
      </div>
      <div class="quickLinks col-sm-12 col-md-4 col-lg-4 col-xl-4 px-5 d-flex flex-column align-items-center">
        <h3>Quick Links</h3>
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">SHOP</a></li>
          <li><a href="#">FAVOURITES</a></li>
          <li><a href="#">CART</a></li>
          <li><a href="#">PROFILE</a></li>
        </ul>
      </div>
      <div class="contactUs col-sm-12 col-md-4 col-lg-4 col-xl-4 px-5 d-flex flex-column align-items-center">
          <h5>For any queries contact us:</h5>
          <h4 class="text-wrap"><span class="fw-normal fs-6">Email : </span>contact@ecomm.com</h4>
          <h4 class="text-wrap"><span class="fw-normal fs-6">Telephone number : </span>+0123456789</h4>
      </div>
    </div>
</footer>
<script src="JS/app.js"></script>