<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content p-4">
        <div class="modal-body text-center">
          <p class="fs-5 modalText">Please login to enable this feature.</p>
          <div class="modalButtonsContainer d-flex flex-row justify-content-center gap-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="/login" class="btn btn-dark btnRedirect">Login</a>
          </div>
        </div>
      </div>
    </div>