<!DOCTYPE html>
<html lang="en">
  <%- include('partials/Header'); %>
<body>
    <div class="container-fluid">
      <%- include('partials/Navbar'); %>
        <div class="carouselContainer mt-5">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 col-7 col">
                                <div class="ms-1 content p-5 d-flex flex-column justify-content-center carouselItem">
                                    <h1 class="header">Winter Collection is out!</h1>
                                    <h3 class="headerContent mt-4">
                                        Your Outfit defines who you are.
                                        Check our brand new collections by clicking below!!
                                    </h3>
                                    <button class="btn btn-dark text-light mt-5 float-left px-5 py-3 shopButton">SHOP NOW</button>
                                </div>
                            </div>
                            <div class="col col-sm-12 col-md-12 col-lg-5 col-xl-5 col-5 imageContainer">
                                <img src="ASSETS/Portrait young handsome man posing.png" class="d-block imageCarousel" alt="...">
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <div class="aboutContainer w-100">
            <div class="aboutinnerContainer mx-auto mt-4 d-flex flex-column justify-content-center align-items-center">
                <h3 class="text-center">What are we?</h3>
                <h5 class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est ut eaque nisi inventore aliquam hic qui, impedit cupiditate cum fuga sed cumque in. Culpa tempora rerum numquam praesentium at soluta?</h5>
            </div>
        </div>
        <div class="featuredProducts mt-4 px-5">
            <div class="headerContainer d-flex justify-content-between">
                <h3 class="header">Featured Products</h3>
                <a href="#" class="btn btn-dark text-light px-4 py-2">SEE MORE</a>
            </div>
            <div class="itemContainer mt-4">
              <div class="swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="card" style="width: 18rem;">
                      <img src="ASSETS/Isolated_black_t-shirt_front.jpg" class="card-img-top cardImage" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Printed white t-shirt</h5>
                        <p class="card-text productDescription mb-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, tempora quos! Beatae perferendis facilis saepe illum accusantium iste amet vel molestiae, commodi, dolore et, aspernatur impedit praesentium officia culpa. Corporis corrupti voluptatem ea nobis natus! Omnis, dolorum porro. Minima, quod?</p>
                        <div class="princeContainer d-flex flex-row a mb-0">
                          <h4 class="card-text sellingPrice mb-0">Rs.400</h4>
                          <p class="card-text discountPrice ms-2 mt-auto">600</p>
                        </div>
                        <div class="buttonContainer d-flex flex-row justify-content-center gap-2">
                          <a href="#" class="btn btn-dark mt-4">Add toc cart</a>
                          <a href="#" class="btn btn-danger mt-4">Buy now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card" style="width: 18rem;">
                      <img src="/ASSETS/Isolated_white_t-shirt_front.jpg" class="card-img-top cardImage" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Printed white t-shirt</h5>
                        <p class="card-text productDescription mb-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, tempora quos! Beatae perferendis facilis saepe illum accusantium iste amet vel molestiae, commodi, dolore et, aspernatur impedit praesentium officia culpa. Corporis corrupti voluptatem ea nobis natus! Omnis, dolorum porro. Minima, quod?</p>
                        <div class="princeContainer d-flex flex-row a mb-0">
                          <h4 class="card-text sellingPrice mb-0">Rs.400</h4>
                          <p class="card-text discountPrice ms-2 mt-auto">600</p>
                        </div>
                        <div class="buttonContainer d-flex flex-row justify-content-center gap-2">
                          <a href="#" class="btn btn-dark mt-4">Add toc cart</a>
                          <a href="#" class="btn btn-danger mt-4">Buy now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card" style="width: 18rem;">
                      <img src="/ASSETS/Isolated_black_t-shirt_front.jpg" class="card-img-top cardImage" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Printed white t-shirt</h5>
                        <p class="card-text productDescription mb-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, tempora quos! Beatae perferendis facilis saepe illum accusantium iste amet vel molestiae, commodi, dolore et, aspernatur impedit praesentium officia culpa. Corporis corrupti voluptatem ea nobis natus! Omnis, dolorum porro. Minima, quod?</p>
                        <div class="princeContainer d-flex flex-row a mb-0">
                          <h4 class="card-text sellingPrice mb-0">Rs.400</h4>
                          <p class="card-text discountPrice ms-2 mt-auto">600</p>
                        </div>
                        <div class="buttonContainer d-flex flex-row justify-content-center gap-2">
                          <a href="#" class="btn btn-dark mt-4">Add toc cart</a>
                          <a href="#" class="btn btn-danger mt-4">Buy now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card" style="width: 18rem;">
                      <img src="/ASSETS/Isolated_white_t-shirt_front.jpg" class="card-img-top cardImage" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Printed white t-shirt</h5>
                        <p class="card-text productDescription mb-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, tempora quos! Beatae perferendis facilis saepe illum accusantium iste amet vel molestiae, commodi, dolore et, aspernatur impedit praesentium officia culpa. Corporis corrupti voluptatem ea nobis natus! Omnis, dolorum porro. Minima, quod?</p>
                        <div class="princeContainer d-flex flex-row a mb-0">
                          <h4 class="card-text sellingPrice mb-0">Rs.400</h4>
                          <p class="card-text discountPrice ms-2 mt-auto">600</p>
                        </div>
                        <div class="buttonContainer d-flex flex-row justify-content-center gap-2">
                          <a href="#" class="btn btn-dark mt-4">Add toc cart</a>
                          <a href="#" class="btn btn-danger mt-4">Buy now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card" style="width: 18rem;">
                      <img src="/ASSETS/Isolated_black_t-shirt_front.jpg" class="card-img-top cardImage" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Printed white t-shirt</h5>
                        <p class="card-text productDescription mb-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, tempora quos! Beatae perferendis facilis saepe illum accusantium iste amet vel molestiae, commodi, dolore et, aspernatur impedit praesentium officia culpa. Corporis corrupti voluptatem ea nobis natus! Omnis, dolorum porro. Minima, quod?</p>
                        <div class="princeContainer d-flex flex-row a mb-0">
                          <h4 class="card-text sellingPrice mb-0">Rs.400</h4>
                          <p class="card-text discountPrice ms-2 mt-auto">600</p>
                        </div>
                        <div class="buttonContainer d-flex flex-row justify-content-center gap-2">
                          <a href="#" class="btn btn-dark mt-4">Add toc cart</a>
                          <a href="#" class="btn btn-danger mt-4">Buy now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card" style="width: 18rem;">
                      <img src="/ASSETS/Isolated_white_t-shirt_front.jpg" class="card-img-top cardImage" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Printed white t-shirt</h5>
                        <p class="card-text productDescription mb-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, tempora quos! Beatae perferendis facilis saepe illum accusantium iste amet vel molestiae, commodi, dolore et, aspernatur impedit praesentium officia culpa. Corporis corrupti voluptatem ea nobis natus! Omnis, dolorum porro. Minima, quod?</p>
                        <div class="princeContainer d-flex flex-row a mb-0">
                          <h4 class="card-text sellingPrice mb-0">Rs.400</h4>
                          <p class="card-text discountPrice ms-2 mt-auto">600</p>
                        </div>
                        <div class="buttonContainer d-flex flex-row justify-content-center gap-2">
                          <a href="#" class="btn btn-dark mt-4">Add toc cart</a>
                          <a href="#" class="btn btn-danger mt-4">Buy now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card" style="width: 18rem;">
                      <img src="/ASSETS/Isolated_black_t-shirt_front.jpg" class="card-img-top cardImage" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Printed white t-shirt</h5>
                        <p class="card-text productDescription mb-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, tempora quos! Beatae perferendis facilis saepe illum accusantium iste amet vel molestiae, commodi, dolore et, aspernatur impedit praesentium officia culpa. Corporis corrupti voluptatem ea nobis natus! Omnis, dolorum porro. Minima, quod?</p>
                        <div class="princeContainer d-flex flex-row a mb-0">
                          <h4 class="card-text sellingPrice mb-0">Rs.400</h4>
                          <p class="card-text discountPrice ms-2 mt-auto">600</p>
                        </div>
                        <div class="buttonContainer d-flex flex-row justify-content-center gap-2">
                          <a href="#" class="btn btn-dark mt-4">Add toc cart</a>
                          <a href="#" class="btn btn-danger mt-4">Buy now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="card" style="width: 18rem;">
                      <img src="/ASSETS/Isolated_white_t-shirt_front.jpg" class="card-img-top cardImage" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Printed white t-shirt</h5>
                        <p class="card-text productDescription mb-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem, tempora quos! Beatae perferendis facilis saepe illum accusantium iste amet vel molestiae, commodi, dolore et, aspernatur impedit praesentium officia culpa. Corporis corrupti voluptatem ea nobis natus! Omnis, dolorum porro. Minima, quod?</p>
                        <div class="princeContainer d-flex flex-row a mb-0">
                          <h4 class="card-text sellingPrice mb-0">Rs.400</h4>
                          <p class="card-text discountPrice ms-2 mt-auto">600</p>
                        </div>
                        <div class="buttonContainer d-flex flex-row justify-content-center gap-2">
                          <a href="#" class="btn btn-dark mt-4">Add toc cart</a>
                          <a href="#" class="btn btn-danger mt-4">Buy now</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
    
                <div class="swiper-pagination"></div>
    
                <!-- <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div> -->
            </div>
            </div>
        </div>
        <div class="categoriesContainer mt-4 px-5">
          <div class="headerContainer d-flex justify-content-between">
            <h3 class="header">Categories</h3>
            <a href="#" class="btn btn-dark text-light px-4 py-2">SEE MORE</a>
          </div>
          <div class="categories d-flex flex-wrap mt-5 gap-4 justify-content-between">
            <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
              <span class="iconContainer text-center">
                <i class="categoryIcon text-center ri-men-line" aria-hidden="true"></i>
              </span>
              <h3 class="text-center fs-5 pt-1">MEN</h3>
            </div>
            <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
              <span class="iconContainer text-center">
                <i class="categoryIcon text-center ri-women-line" aria-hidden="true"></i>
              </span>
              <h3 class="text-center fs-5 pt-1">WOMEN</h3>
            </div>
            <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
              <span class="iconContainer text-center">
                <i class="categoryIcon text-center ri-open-arm-line" aria-hidden="true"></i>
              </span>
              <h3 class="text-center fs-5 pt-1">KIDS</h3>
            </div>
            <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
              <span class="iconContainer text-center">
                <i class="categoryIcon text-center ri-smartphone-line" aria-hidden="true"></i>
              </span>
              <h3 class="text-center fs-5 pt-1">SMARTPHONES</h3>
            </div>
            <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
              <span class="iconContainer text-center">
                <i class="categoryIcon text-center ri-headphone-line" aria-hidden="true"></i>
              </span>
              <h3 class="text-center fs-5 pt-1">HEADPHONES</h3>
            </div>
            <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
              <span class="iconContainer text-center">
                <i class="categoryIcon text-center ri-router-line" aria-hidden="true"></i>
              </span>
              <h3 class="text-center fs-5 pt-1">GADGETS</h3>
            </div>
          </div>
        </div>
        <div class="bestOffersTopBrands mt-3 ">
          <div class="row mt-5 py-5">
            <div class="textContent col-sm-12 col-md-12 col-lg-6 col-xl-6 d-flex flex-column justify-content-center align-items-center px-4 ">
              <h1 class="text-center">
                Best Offers from Top Brands
              </h1>
              <h3 class="fw-light text-center mt-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus deserunt recusandae totam nostrum. Vitae provident odit suscipit culpa deserunt laudantium ad. Commodi qui molestias praesentium in assumenda delectus odit atque?
              </h3>
            </div>
            <div class="offerCategory col-sm-12 col-md-12 col-lg-6 col-xl-6">
              <div class="categories d-flex mt-3 flex-wrap gap-4 justify-content-between">
                <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
                  <span class="iconContainer text-center">
                    <img height="100" width="100" src="https://cdn.jsdelivr.net/npm/simple-icons@v6/icons/samsung.svg" />
                  </span>
                </div>
                <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
                  <span class="iconContainer text-center">
                    <img height="100" width="100" src="https://cdn.jsdelivr.net/npm/simple-icons@v6/icons/nike.svg" />
                  </span>
                </div>
                <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
                  <span class="iconContainer text-center">
                    <img height="100" width="100" src="https://cdn.jsdelivr.net/npm/simple-icons@v6/icons/adidas.svg" />
                  </span>
                </div>
                <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
                  <span class="iconContainer text-center">
                    <img height="100" width="100" src="https://cdn.jsdelivr.net/npm/simple-icons@v6/icons/dell.svg" />
                  </span>
                </div>
                <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
                  <span class="iconContainer text-center">
                    <img height="100" width="100" src="https://cdn.jsdelivr.net/npm/simple-icons@v6/icons/jbl.svg" />
                  </span>
                </div>
                <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
                  <span class="iconContainer text-center">
                    <img height="100" width="100" src="https://cdn.jsdelivr.net/npm/simple-icons@v6/icons/hp.svg" />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="productOfTheDay my-5 px-5">
          <p class="fs-2 fw-bold">Product of the Day</p>
          <div class="produtContainer row">
            <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7">
              <div class="imageContainer">
                <img class="image" src="/ASSETS/Portrait young handsome man posing.png" alt="">
              </div>
            </div>
            <div class="productContent col-sm-12 col-md-12 col-lg-6 col-xl-6 d-flex flex-column justify-content-center">
              <div class="content p-3">
                <p class="fs-3 fw-bold">Product Name</p>
                <p class="fs-5 fw-normal productDescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit reiciendis nulla ab molestiae porro reprehenderit iure incidunt eos rerum magni repellendus, ex quo? Doloremque nisi expedita ad quis consectetur. Dolor fugiat ex, corporis vel cumque minima deleniti excepturi sit veniam?</p>
                <div class="buttonsContainer d-flex justify-content-center gap-4 py-4">
                  <a href="#" class="btn btn-dark text-center px-2">Add to Cart</a>
                  <a href="#" class="btn btn-danger text-center px-2">Buy Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="about row mt-5 p-5">
          <div class="col">
            <h1 class="text-center fw-bolder pb-4">About</h1>
            <div class="categories d-flex px-3 mt-3 flex-wrap gap-4 justify-content-between">
              <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
                <h2 class="textHeader text-center pt-2 fs-1">5000<span class="fs-6">+</span></h2>
                <h6 class="text-center">CUSTOMERS</h6>
              </div>
              <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
                <h2 class="textHeader text-center pt-2 fs-1">8000<span class="fs-6">+</span></h2>
                <h6 class="text-center">MONTHLY ORDERS</h6>
              </div>
              <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
                <h2 class="textHeader text-center pt-2 fs-1">50K<span class="fs-6">+</span></h2>
                <h6 class="text-center">PRODUCTS SOLD</h6>
              </div>
              <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
                <h2 class="textHeader text-center pt-2 fs-1">8M<span class="fs-6">+</span></h2>
                <h6 class="text-center">ACTIVE FOLLOWERS</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="services my-5 p-5">
          <h1 class="text-center fw-bold pb-4">Services</h1>
          <div class="categories d-flex px-3 mt-3 flex-wrap gap-4 justify-content-between">
            <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
              <span class="iconContainer text-center">
                <i class="serviceIcon ri-search-eye-line ri-xl"></i>
              </span>
              <h3 class="text-center pt-2">Safe Surfing</h3>
              <p class="text-center pt-1 mb-0">
                We provide ad-free and trackers free website for you
              </p>
            </div>
            <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
              <span class="iconContainer text-center">
                <i class="serviceIcon ri-truck-line ri-xl"></i>
              </span>
              <h3 class="text-center pt-2">Free Shipping</h3>
              <p class="text-center pt-1 mb-0">
                We have hassle free delivery throughout India
              </p>
            </div>
            <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
              <span class="iconContainer text-center">
                <i class="serviceIcon ri-secure-payment-line ri-xl"></i>
              </span>
              <h3 class="text-center pt-2">Secure Payment</h3>
              <p class="text-center pt-1 mb-0">
                We support user privacy and payments were dealt private.
              </p>
            </div>
            <div class="category px-5 py-3 d-flex flex-column justify-content-center align-items-center">
              <span class="iconContainer text-center">
                <i class="serviceIcon ri-customer-service-2-line ri-xl"></i>
              </span>
              <h3 class="text-center pt-2">Customer Care</h3>
              <p class="text-center pt-1 mb-0">
                We have 24/7 customer care support.
              </p>
            </div>
          </div>
        </div>
    </div>
    <%- include ('partials/Footer') %> 
</body>
</html>